/* Footer.css */
.footers {
  text-decoration: none;
  color: lightskyblue;
  font-size: 20px;
  text-shadow: 6px 8px 9px rgb(62, 226, 255);
  
}

.footers:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
  text-shadow: 6px 8px 9px rgb(0, 255, 98);
}

.footer-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

.footers {
  text-align: right;
}

i {

  text-shadow: 6px 8px 9px rgb(62, 255, 245);
}

i:hover {
  /* color: var(--light); */
  transform: scale(1.5);
  color: rgb(0, 212, 46);
  text-shadow: 10px 10px 10px rgb(72, 255, 0) !important;
}

/* CSS for pulsing animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the pulsing animation to the <i> elements */
.footer-container i {
  animation: pulse 2.5s infinite;
}

@import url('font-awesome/css/font-awesome.min.css');
