.skills {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 80%;
  transform: translateX(-50%);

  padding: 50px;
  width: 100%;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  color: rgb(0, 212, 46);
  text-shadow: 10px 10px 10px rgb(72, 255, 0) !important;
  font-size: 36px;
  font-family: 'Rajdhani', sans-serif;
  animation: slide-in 3s infinite;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Resume.css */
.job-duties, h5 {
  color: lightblue; /* Change this to the desired text color */
}

a {
  text-decoration: none;
  color: rgb(115, 215, 255);
  font-size: 19px;
  text-shadow: 5px 6px 7px rgb(62, 226, 255);
}
a:hover {
  /* color: var(--light); */
  
  color: rgb(0, 212, 46);
  text-shadow: 10px 10px 10px rgb(72, 255, 0) !important;
}

.pulse-link {
  display: inline-block;
  font-size: 18px;
  animation: pulse 10s infinite; /* Use the 'pulse' animation for 10 seconds, repeat infinitely */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.05); /* Slightly larger size */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}