/* App.css */

/* Add these styles to your CSS file (e.g., App.css) */
.app-container {
  width: 100%;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Add these styles to your CSS file (e.g., App.css) */
.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  /* Adjust the width as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.proficiency-text {
  animation: scroll 5s linear infinite;
}

body {
  background-image: url('../public/bgMain.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: lightgreen;
}

h2 {
  color: lightskyblue;
  font-size: 40px;
  text-shadow: 3px 4px 5px rgb(62, 226, 255);
}

/* Import the professional font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

/* Apply the professional font to all elements in the body */
body {
  font-family: 'Rajdhani', sans-serif;
}

/* You can also apply specific colors to h2 elements */
h2 {
  color: lightgreen;
  font-family: 'Rajdhani', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
  .app-container {
    text-align: center;
  }
}
